In [2]:
# Directory
import os
os.getcwd() # Check
os.chdir('C:/Users/jdavo/OneDrive/Documents/Datasets/Industrial Safety') # Use forward slashes
os.getcwd() # Validate

'C:\\Users\\jdavo\\OneDrive\\Documents\\Datasets\\Industrial Safety'

In [3]:
import pandas as pd
data = pd.read_csv('isahd.csv')
del data['Unnamed: 0']

In [4]:
# Data Exploration:
data.columns

Index(['Data', 'Countries', 'Local', 'Industry Sector', 'Accident Level',
       'Potential Accident Level', 'Genre', 'Employee or Third Party',
       'Critical Risk', 'Description'],
      dtype='object')

In [5]:
data.head()

,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...
3,2016-01-08 00:00:00,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...
4,2016-01-10 00:00:00,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...

In [6]:
data.tail()

,Data,Countries,Local,Industry Sector,Accident Level,Potential Accident Level,Genre,Employee or Third Party,Critical Risk,Description
420,2017-07-04 00:00:00,Country_01,Local_04,Mining,I,III,Male,Third Party,Others,"Being approximately 5:00 a.m. approximately, w..."
421,2017-07-04 00:00:00,Country_01,Local_03,Mining,I,II,Female,Employee,Others,The collaborator moved from the infrastructure...
422,2017-07-05 00:00:00,Country_02,Local_09,Metals,I,II,Male,Employee,Venomous Animals,During the environmental monitoring activity i...
423,2017-07-06 00:00:00,Country_02,Local_05,Metals,I,II,Male,Employee,Cut,The Employee performed the activity of strippi...
424,2017-07-09 00:00:00,Country_01,Local_04,Mining,I,II,Female,Third Party,Fall prevention (same level),"At 10:00 a.m., when the assistant cleaned the ..."

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 10 columns):
Data                        425 non-null object
Countries                   425 non-null object
Local                       425 non-null object
Industry Sector             425 non-null object
Accident Level              425 non-null object
Potential Accident Level    425 non-null object
Genre                       425 non-null object
Employee or Third Party     425 non-null object
Critical Risk               425 non-null object
Description                 425 non-null object
dtypes: object(10)
memory usage: 33.3+ KB

In [8]:
catcols = ['Countries', 'Potential Accident Level', 'Accident Level', 'Critical Risk', 'Industry Sector','Local', 'Genre', 'Employee or Third Party']
for cols in catcols:
    data[cols] = data[cols].astype('category')
data.Data = pd.to_datetime(data.Data, format='%Y-%m-%d %H:%M:%S')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 10 columns):
Data                        425 non-null datetime64[ns]
Countries                   425 non-null category
Local                       425 non-null category
Industry Sector             425 non-null category
Accident Level              425 non-null category
Potential Accident Level    425 non-null category
Genre                       425 non-null category
Employee or Third Party     425 non-null category
Critical Risk               425 non-null category
Description                 425 non-null object
dtypes: category(8), datetime64[ns](1), object(1)
memory usage: 12.8+ KB

In [28]:
# Import NLP tools:
from nltk.stem import WordNetLemmatizer
import re
from nltk.corpus import stopwords

# Set up:
stop_words = set(stopwords.words('english'))
r = {}
k = {}

# Body:
for d in range(len(data)):
    bs = data['Description'][d].split(' ')
    for b in bs:
        b = re.sub('[^a-zA-Z0-9]', '', b) # Take out special characters in words
        lemmatizer = WordNetLemmatizer()
        lemb = lemmatizer.lemmatize(b) # Word Lemmatizing
        if (lemb in r.keys()) & (lemb not in stop_words):
            r[lemb] += 1
        else:
            r[lemb] = 1
    k[d] = r
    r = {}

# Output:
word_set = pd.DataFrame(k).transpose()

'walking'